## Business Understanding


1. user_id, User identification
2. REGION,the location of each client. Geographic region of the user
3. TENURE,duration in the network. Tenure category (e.g., prepaid, postpaid).
4. MONTANT,top-up amount. Monetary value.
5. FREQUENCE_RECH,Â number of times the customer refilled. Numeric frequency 
6. REVENUE,monthly income of each client. Monetary value.
7. ARPU_SEGMENT,income over 90 days / 3.  Monetary value.
8. FREQUENCE,number of times the client has made an income.  Numeric frequency (how often the user uses the service).
9. DATA_VOLUME,number of connections. Numeric data volume.
10. ON_NET,inter expresso call. Numeric usage on the network.
11. ORANGE,call to orange. Numeric usage on the Orange network.
12. TIGO,call to Tigo. Numeric usage on the Tigo network.
13. ZONE1,call to zones1. Numeric usage in specific zones.
14. ZONE2,call to zones2. Numeric usage in specific zones.
15. MRG,a client who is going. Numeric usage in specific zones.Categorical (merged or not merged).
16. REGULARITY,number of times the client is active for 90 days.  Numeric regularity value.
17. TOP_PACK,the most active packs.  Categorical package name.
18. FREQ_TOP_PACK,number of times the client has activated the top pack packages.Numeric frequency.
19. CHURN,variable to predict - Target.  Binary (churned or not churned).


#### Goal 
#### Hypothesis
#### Analytic questions

## Data understanding

In [1]:
# import the nesscery libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
#load the train dataset
df_train = pd.read_csv('data/Train (2).csv')

In [3]:
#load the test dataset
df_test =  pd.read_csv('data/Test.csv')

In [4]:
#check the head of the train dataset 
df_train.head(5)

,user_id,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,ZONE1,ZONE2,MRG,REGULARITY,TOP_PACK,FREQ_TOP_PACK,CHURN
0,7ee9e11e342e27c70455960acc80d3f91c1286d1,DAKAR,K > 24 month,20000.0,47.0,21602.0,7201.0,52.0,8835.0,3391.0,396.0,185.0,NaN,NaN,NO,62,On net 200F=Unlimited _call24H,30.0,0
1,50443f42bdc92b10388fc56e520e4421a5fa655c,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,3,NaN,NaN,0
2,da90b5c1a9b204c186079f89969aa01cb03c91b2,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,1,NaN,NaN,0
3,364ec1b424cdc64c25441a444a16930289a0051e,SAINT-LOUIS,K > 24 month,7900.0,19.0,7896.0,2632.0,25.0,9385.0,27.0,46.0,20.0,NaN,2.0,NO,61,"Data:490F=1GB,7d",7.0,0
4,d5a5247005bc6d41d3d99f4ef312ebb5f640f2cb,DAKAR,K > 24 month,12350.0,21.0,12351.0,4117.0,29.0,9360.0,66.0,102.0,34.0,NaN,NaN,NO,56,All-net 500F=2000F;5d,11.0,0

In [5]:
#check the head of the test dataset 
df_test.head(5)

,user_id,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,ZONE1,ZONE2,MRG,REGULARITY,TOP_PACK,FREQ_TOP_PACK
0,51fe4c3347db1f8571d18ac03f716c41acee30a4,MATAM,I 18-21 month,2500.0,5.0,2500.0,833.0,5.0,0.0,64.0,70.0,NaN,NaN,NaN,NO,35,All-net 500F=2000F;5d,5.0
1,5ad5d67c175bce107cc97b98c4e37dcc38aa7f3e,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,2,NaN,NaN
2,5a4db591c953a8d8f373877fad37aaf4268899a1,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NO,22,NaN,NaN
3,8bf9b4d8880aeba1c9a0da48be78f12e629be37c,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,6,NaN,NaN
4,c7cdf2af01e9fa95bf498b68c122aa4b9a8d10df,SAINT-LOUIS,K > 24 month,5100.0,7.0,5637.0,1879.0,15.0,7783.0,30.0,24.0,0.0,0.0,NaN,NO,60,"Data:1000F=2GB,30d",4.0

In [6]:
#check the info of the train dataset
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1077024 entries, 0 to 1077023
Data columns (total 19 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   user_id         1077024 non-null  object
 1   REGION          652687 non-null   object
 2   TENURE          1077024 non-null  object
 3   MONTANT         699139 non-null   float64
 4   FREQUENCE_RECH  699139 non-null   float64
 5   REVENUE         714669 non-null   float64
 6   ARPU_SEGMENT    714669 non-null   float64
 7   FREQUENCE       714669 non-null   float64
 8   DATA_VOLUME     547261 non-null   float64
 9   ON_NET          683850 non-null   float64
 10  ORANGE          629880 non-null   float64
 11  TIGO            432250 non-null   float64
 12  ZONE1           84898 non-null    float64
 13  ZONE2           68794 non-null    float64
 14  MRG             1077024 non-null  object
 15  REGULARITY      1077024 non-null  int64
 16  TOP_PACK        626129 non-null   object
 17  FREQ_TOP_PACK   626129 non-null   float64
 18  CHURN           1077024 non-null  int64
dtypes: float64(12), int64(2), object(5)
memory usage: 156.1+ MB

In [7]:
#check the info of the test dataset
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190063 entries, 0 to 190062
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         190063 non-null  object
 1   REGION          115330 non-null  object
 2   TENURE          190063 non-null  object
 3   MONTANT         123695 non-null  float64
 4   FREQUENCE_RECH  123695 non-null  float64
 5   REVENUE         126422 non-null  float64
 6   ARPU_SEGMENT    126422 non-null  float64
 7   FREQUENCE       126422 non-null  float64
 8   DATA_VOLUME     96716 non-null   float64
 9   ON_NET          120771 non-null  float64
 10  ORANGE          111417 non-null  float64
 11  TIGO            76555 non-null   float64
 12  ZONE1           14850 non-null   float64
 13  ZONE2           12011 non-null   float64
 14  MRG             190063 non-null  object
 15  REGULARITY      190063 non-null  int64
 16  TOP_PACK        110773 non-null  object
 17  FREQ_TOP_PACK   110773 non-null  float64
dtypes: float64(12), int64(1), object(5)
memory usage: 26.1+ MB

In [8]:
# checking for null values on the train dataset
df_train.isnull().sum()

user_id                 0
REGION             424337
TENURE                  0
MONTANT            377885
FREQUENCE_RECH     377885
REVENUE            362355
ARPU_SEGMENT       362355
FREQUENCE          362355
DATA_VOLUME        529763
ON_NET             393174
ORANGE             447144
TIGO               644774
ZONE1              992126
ZONE2             1008230
MRG                     0
REGULARITY              0
TOP_PACK           450895
FREQ_TOP_PACK      450895
CHURN                   0
dtype: int64

In [9]:
#checking for the null value on the test dataset
df_test.isnull().sum()

user_id                0
REGION             74733
TENURE                 0
MONTANT            66368
FREQUENCE_RECH     66368
REVENUE            63641
ARPU_SEGMENT       63641
FREQUENCE          63641
DATA_VOLUME        93347
ON_NET             69292
ORANGE             78646
TIGO              113508
ZONE1             175213
ZONE2             178052
MRG                    0
REGULARITY             0
TOP_PACK           79290
FREQ_TOP_PACK      79290
dtype: int64

In [10]:
#checking the shape of the train dataset 
df_train.shape

(1077024, 19)

In [11]:
#checking the shape of the test data
df_test.shape

(190063, 18)

In [12]:
#checking for dublicate on the train 
df_train.duplicated().sum()

0

In [13]:
# checking for dublicate on the test 
df_test.duplicated().sum()

0

In [14]:
#  cheking the stasitical on the train 
df_train.describe().T

,count,mean,std,min,25%,50%,75%,max
MONTANT,699139.0,5529.210895,7104.737952,20.0,1000.0,3000.0,7350.0,470000.0
FREQUENCE_RECH,699139.0,11.523756,13.261938,1.0,2.0,7.0,16.0,131.0
REVENUE,714669.0,5506.050798,7175.625010,1.0,1000.0,3000.0,7360.0,532177.0
ARPU_SEGMENT,714669.0,1835.355961,2391.870902,0.0,333.0,1000.0,2453.0,177392.0
FREQUENCE,714669.0,13.974439,14.687059,1.0,3.0,9.0,20.0,91.0
DATA_VOLUME,547261.0,3368.801722,12898.928039,0.0,0.0,258.0,2905.0,1702309.0
ON_NET,683850.0,277.065798,874.315378,0.0,5.0,27.0,156.0,50809.0
ORANGE,629880.0,95.160804,203.020261,0.0,7.0,29.0,99.0,12040.0
TIGO,432250.0,23.105018,64.035464,0.0,2.0,6.0,20.0,4174.0
ZONE1,84898.0,8.167483,39.245883,0.0,0.0,1.0,3.0,2507.0
ZONE2,68794.0,7.709844,36.090513,0.0,0.0,2.0,5.0,3697.0
REGULARITY,1077024.0,28.044496,22.288610,1.0,6.0,24.0,51.0,62.0
FREQ_TOP_PACK,626129.0,9.262446,12.242316,1.0,2.0,5.0,12.0,624.0
CHURN,1077024.0,0.187547,0.390350,0.0,0.0,0.0,0.0,1.0

#### cleaning the dataset by filling in the missing values

In [15]:
# Fill missing values for each numeric column with its mean of the train dataset
numeric_columns = df_train.select_dtypes(include='number').columns
for column in numeric_columns:
    df_train[column].fillna(df_train[column].mean(), inplace=True)

In [16]:
# for mode imputation
df_train['REGION'].fillna(df_train['REGION'].mode()[0], inplace=True)

In [17]:
# Example for filling with a constant (e.g., 'Unknown')
df_train['TOP_PACK'].fillna('Unknown', inplace=True)

In [18]:
df_train.isnull().sum()

user_id           0
REGION            0
TENURE            0
MONTANT           0
FREQUENCE_RECH    0
REVENUE           0
ARPU_SEGMENT      0
FREQUENCE         0
DATA_VOLUME       0
ON_NET            0
ORANGE            0
TIGO              0
ZONE1             0
ZONE2             0
MRG               0
REGULARITY        0
TOP_PACK          0
FREQ_TOP_PACK     0
CHURN             0
dtype: int64

In [19]:
# Fill missing values for each numeric column with its mean of the test dataset
numeric_columns = df_test.select_dtypes(include='number').columns
for column in numeric_columns:
    df_test[column].fillna(df_test[column].mean(), inplace=True)

In [20]:
# for mode imputation
df_test['REGION'].fillna(df_test['REGION'].mode()[0], inplace=True)

In [21]:
# Example for filling with a constant (e.g., 'Unknown')
df_test['TOP_PACK'].fillna('Unknown', inplace=True)

In [22]:
df_test.isnull().sum()

user_id           0
REGION            0
TENURE            0
MONTANT           0
FREQUENCE_RECH    0
REVENUE           0
ARPU_SEGMENT      0
FREQUENCE         0
DATA_VOLUME       0
ON_NET            0
ORANGE            0
TIGO              0
ZONE1             0
ZONE2             0
MRG               0
REGULARITY        0
TOP_PACK          0
FREQ_TOP_PACK     0
dtype: int64

#### EDA

#### univariate

#### Bivariate analysis

#### Multivariate

## Data Preparation

## Modeling

## Evaluation